# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media files (if using file-based storage) #
media/

# Static files (usually collected separately for deployment) #
static/

# Virtual environment #
Ecommerce/
.env

# IDE files #
.vscode/
*.idea/

# Compiled Python files #
*.pyc

# Razorpay #
razorpay_credentials.json  # Exclude your Razorpay API credentials file

# PostgreSQL #
*.psql  # Exclude PostgreSQL backup files

# macOS #
.DS_Store

# Windows #
Thumbs.db
